.main-hero {
  color: var(--secondary-color);
  background-color: var(--primary-color);

  &__parallax-bg {
    position: absolute;
    left: -10%;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.8);
  }
}
