.breadcrumbs {
  padding-top: 30px;
  padding-bottom: 20px;

  & a {
    color: inherit;
    text-decoration-color: transparent;
  }

  @include media-min ($xl) {
    padding-top: 40px;
    padding-bottom: 40px;

    & a {
      transition: color .2s ease-in-out, text-decoration-color .2s ease-in-out;

      &:hover {
        color: var(--secondary-accent-color);
        text-decoration-color: inherit;
      }
    }
  }
}
