.cube {
  position: relative;
  width: 40px;
  height: 40px;

  &__spinner {
    transform: var(--cube-pos);
    transform-style: preserve-3d;
    transform-origin: 20px 20px 0;
    transition: transform .4s ease-in-out;
  }

  &__side {
    position: absolute;
    width: 100%;
    height: 100%;

    &--first {
      transform: translateZ(20px);
    }

    &--second {
      transform: rotateY(-90deg) translateZ(20px);
    }
  }
}
