.slider {
  --swiper-pagination-bullet-size: 6px;
  --swiper-theme-color: var(--secondary-accent-color);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: var(--theme-light-gray);

  position: relative;
  overflow: hidden;

  &__wrapper {
    box-sizing: border-box;
  }

  &__controls {
    display: none;
  }

  &__pagination {
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
  }

  & .swiper-pagination-bullet {
    transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  }

  & .swiper-pagination-bullet-active {
    transform: scale(1.4);
  }

  @include media-min ($md) {
    &__pagination {
      display: none;
    }

    &__controls {
      position: absolute;
      top: 50%;
      left: 10px;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      width: calc(100% - 20px);
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
}

.slider-controls-btn {
  display: inline-flex;
  border-radius: 50%;
  pointer-events: auto;
  overflow: hidden;
}
